<mat-sidenav-container>
  <mat-sidenav #drawer role="navigation"
  class="sidenav"
  fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="!(isHandset$ | async)">
  <mat-toolbar  color="primary">
      <div><a [routerLink]="['/home']">Left Foot Software</a></div>

  </mat-toolbar>
   <mat-nav-list>
    <a *ngIf="!isLoggedIn()" mat-list-item [routerLink]="['/signup']">
      <mat-icon>face</mat-icon>
      <span>Signup</span>
    </a>
    <a *ngIf="!isLoggedIn()" mat-list-item [routerLink]="['/login']">
      <mat-icon>input</mat-icon>
      <span>Login</span>
    </a>
    <a *ngIf="isLoggedIn()" mat-list-item [routerLink]="['/orderlist']">
      <mat-icon>input</mat-icon>
      <span>Orders</span>
    </a>
    <mat-list-item *ngIf="isLoggedIn()">
      <button style="cursor: pointer" (click)="onLogout()" mat-icon-button>
          <mat-icon>eject</mat-icon>
          <span>Logout</span>
      </button>
    </mat-list-item>
   </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->
    <span class="example-spacer"></span>
    <span flex></span>
    <div style="font-size: 15px" *ngIf="isLoggedIn()">
      <mat-icon style="font-size: 25px">person</mat-icon>
      Welcome, {{authservice.user?.email}}
    </div>
    </mat-toolbar>

        <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>



