mat-sidenav-container, mat-sidenave-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width:200px;
}

.navigation-items {

list-style: none;
padding: 0;
margin: 0;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

